<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CLDV6212_POE_ST10435542</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/bootstrap.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CLDV6212_POE_ST10435542.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/background.css" asp-append-version="true" /> @* had to add this line last so that the it overrides the other css files - shows the backgroud on all Views *@
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark"> @* having this outside the if statement lets the navbar stay apparent on the login pgae but without showing the other tools (customer, product etc) *@
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"> (👉ﾟヮﾟ)👉 ABC Retail™ </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor02"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @if (ViewContext.RouteData.Values["Controller"].ToString() != "Login") @* only shows the other tools if the login was succesful *@
                {
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between" id="navbarColor02">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                            @* <li class="nav-item"> *@
                            @*     <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> *@
                            @* </li> *@

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Tools</a> @* dropdwon menu for all the tools related to store management (customers, products, orders) *@
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" class="nav-link text-light" asp-area="" asp-controller="Customer" asp-action="Index">Customers</a>
                                    <a class="dropdown-item" class="nav-link text-light" asp-area="" asp-controller="Product" asp-action="Index">Products</a>
                                    <a class="dropdown-item" class="nav-link text-light" asp-area="" asp-controller="Order" asp-action="Index">Orders</a>
                                </div>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-light" asp-area="" asp-controller="Files" asp-action="Index">File Management</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-danger" asp-area="" asp-controller="Login" asp-action="Index">!Logout!</a>
                            </li>
                        </ul>
                    </div>
                }
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted"
            style="position: fixed; bottom: 0; left: 0; width: 100%; background-color: transparent;">
        <div class="container">
            &copy; 2025 - CLDV6212_POE_ST10435542 - Developed by Natheer Jardien
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/bootstrap.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
