@model CLDV6212_POE_ST10435542.Models.Product

@{
    ViewData["Title"] = "AddProduct";
}

@* I made use of Razor View to generate this view and made minor tweaks to my liking *@

<p></p>
<h1>Product Inventory</h1>
<p></p>
<h4>Add New Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddProduct" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PartitionKey" /> @* included these hidden properties because they are key elements tied to each product, else if not included, the procut will not be saved to the table *@
            <input type="hidden" asp-for="RowKey" />

            <div>
                <label asp-for="ProductName" class="control-label">Product Name</label>
                <input asp-for="ProductName" class="form-control" />
                <span asp-validation-for="ProductName" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div>
                <label>-- Image --</label>
                <input type="file" name="file" required />
                @* <span asp-validation-for="ImageUrl" class="text-danger"></span> *@
            </div>
            <div>
                <label asp-for="Category" class="control-label"></label>
                <select asp-for="Category" class="form-control" asp-items="@(new SelectList(ViewData["Categories"] as List<string>))"> @* using the predefined list from the Controller *@
                    <option value="">-- Select Category --</option>
                </select>
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="AvailabilityStatus" class="control-label"></label>
                <select asp-for="AvailabilityStatus" class="form-control" asp-items="@(new SelectList(ViewData["Availability"] as List<string>))"> @* using the predefined list from the Controller *@
                    <option value="">-- Select Availability Status --</option>
                </select>
                <span asp-validation-for="AvailabilityStatus" class="text-danger"></span>
            </div>
            <p></p>
            <div>
                <input type="submit" value="Create" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
