@{
    ViewData["Title"] = "Home Page";
}

<p></p>
<div class="text-center my-5">
    <p></p>
    <h1 class="display-4">Welcome to ABC Retail Web App!</h1>
    <p class="lead mt-3">
        This platform is designed to help you manage your retail operations efficiently.
    </p>
    <p class="text-muted mt2">
        Designed and devloped by <strong>Natheer Jardien</strong>
    </p>
    </br>
    @* Added a picture for visual appeal on the home  page *@
    <img src="/Images/StockImage.webp"
         alt="Welcome to ABC Retail"
         style="width: 600px; height: 450px; object-fit: cover;"
         class="img-thumbnail" />
    </br>
</div>
