@model CLDV6212_POE_ST10435542.Models.User

@{
    ViewData["Title"] = "User Registration";
}

<div class="container mt5">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <p></p>
                    <h3 class="card-title text-center">Register</h3>

                    <form asp-action="Register" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <div class="form-outline mb-4">
                            <label asp-for="Role" class="form-label">Role</label>
                            <select asp-for="Role" class="form-control" placeholder="Select Role" required>
                                <option value="">Select a role</option>
                                <option value="Admin">Admin</option>
                                <option value="Customer">Customer</option>
                            </select>
                            <span asp-validation-for="Role" class="text-danger"></span>
                        </div>

                        <div class="form-outline mb-4">
                            <label asp-for="Username" class="form-label">Username</label>
                            <input asp-for="Username" class="form-control" placeholder="Type Username" required />
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>

                        <div class="form-outline mb-4">
                            <label asp-for="Email" class="form-label">Email</label>
                            <input asp-for="Email" class="form-control" placeholder="Type Email Address" required />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="form-outline mb-4">
                            <label asp-for="Password" class="form-label">Password</label>
                            <input asp-for="Password" class="form-control" placeholder="Type Password" required />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        <button class="btn btn-primary w-100" type="submit">Register</button>
                    </form>

                    <hr/>

                    <p>Already have an account? <a asp-action="Login" class="text-primary">Login Here</a></p>

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
