<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/d1788afb-2254-4f5f-8826-94750f6da544/resourceGroups/AZ-JHB-RSG-VCECPE-ST10435542-TER/providers/Microsoft.Web/sites/cldv6212st10435542poe</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://cldv6212st10435542poe.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>d316c7ed-d492-44ed-bffe-506cadb284c3</ProjectGuid>
    <PublishUrl>https://cldv6212st10435542poe.scm.azurewebsites.net/</PublishUrl>
    <UserName>$cldv6212st10435542poe</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>