@model CLDV6212_POE_ST10435542.Models.Order

@{
    ViewData["Title"] = "EditOrder";
}

@* I made use of Razor View to generate this view and made minor tweaks to my liking *@

<p></p>
<h1>Edit Order Details</h1>
<p></p>
<h4>Order</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditOrder" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PartitionKey" />
            <input type="hidden" asp-for="RowKey" />
            <input type="hidden" asp-for="OrderID" /> @* included these hidden properties because they are key elements tied to each order, else if not included, the procut will not be saved to the table *@

            <div class="form-group">
                <label asp-for="CustomerID" class="control-label"></label>
                <select asp-for="CustomerID" class="form-select" asp-items="@(new SelectList((List<Customer>)ViewData["Customer"], "CustomerID", "FirstName"))"> @* loads the dropdown list of customers *@
                    <option value="">-- Select Customer --</option>
                </select>
                <span asp-validation-for="CustomerID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProductID" class="control-label"></label>
                <select asp-for="ProductID" class="form-select" asp-items="@(new SelectList((List<Product>)ViewData["Product"], "ProductID", "ProductName"))"> @* loads the dropdown list of products *@
                    <option value="">-- Select Product --</option>
                </select>
                <span asp-validation-for="ProductID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderStatus" class="control-label"></label>
                <select asp-for="OrderStatus" class="form-control" asp-items="ViewBag.OrderStatuses"> @* ViewBag to populate the dropdown list for order because ViewData List wasnt passing the items correctly*@
                    <option value="">-- Select Order Status --</option>
                </select>
                <span asp-validation-for="OrderStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderDate" class="control-label">Scheduled for:</label>
                <input asp-for="OrderDate" class="form-control" />
                <span asp-validation-for="OrderDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
